*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{flex-grow: 1;}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: auto;
    background-color: bisque;
}

.header{
    background-color: rgb(255, 182, 87);
    display: flex;
    padding: 1%;

    nav ul li, a{
        list-style-type: none;
        text-decoration: none;
        color: black;
    }
}

.scale{
    transform:  scale(1.5);
}

.center{
    text-align: center;
}

.rotate{
    transform: rotate(45deg);
}

.body{
    background-color: black;
}

.color-fuente{
    color: brown;
}

.a{
    text-decoration: none;
    font-size: 1.18vw;
    color: black;
}

.a1{
    text-decoration: none;
    color: brown;
}